<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegExp</title>
    <link rel="stylesheet" href="libs/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app" class="container mt-4">
        <div>
            <div>
                <button 
                class="btn me-1" 
                v-for="(mode, i) in modes" 
                :class="mode.enable ? 'btn-info' : ''"
                @click="enableMod(i)"
                >
                    {{mode.name}}
                </button>
            </div>
            <div class="d-flex">
                <input type="text" v-model="this.expression.string" class="form-control my-2">
                <input type="text" v-model="replaceInput" v-if="modes[2].enable" class="form-control my-2">
            </div>
            <button 
                v-for="flag in flags"
                class="btn my-1"
                :class="flag.enable ? 'btn-success' : ''"
                @click="flag.enable = !flag.enable"
                v-on:mouseover="setCurrentFlagInfo(flag.info)"
                v-on:mouseout="setCurrentFlagInfo('')"
            >{{flag.name}}</button>
            <div class="btn" v-if="selectedFlagInfo">{{selectedFlagInfo}}</div>
            
        </div>
        <div class="alert" :class="this.expression.isCorrect ? 'alert-info' : 'alert-danger'">
            <div v-html="regExpString"></div>
            <div v-if="!this.expression.isCorrect" class="error-right">Syntax error</div>
        </div>
        
        
        <div class="alert alert-success" style="min-height: 20px;">{{result}}</div>
        <div v-html="modes[2].enable ? replacedText : text" class="mt-5"></div>
    </div>

    <script src="libs/vue.js"></script>
    <script src="script.js"></script>
    <script src="js/text.js"></script>

</body>

</html>