.text-red {
    color: #dd4a68;
}
.text-blue {
    color: #748dcd;
}
.text-green {
    color: #690;
}
.error-right {
    position: absolute;
    top: 15px;
    right: 15px;
}

#helper {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 5px;
    z-index: 9999999;
}
.link {
    color: rgb(72, 72, 216);
    cursor: pointer;
    text-decoration: underline;
}